# Python
__pycache__/
*.pyc
*.pyo

# Airflow
airflow/logs/
airflow/config/

# dbt
dbt/target/
dbt/logs/
dbt/.user.yml

# Data
data/raw/
data/processed/
data/analytics/

.env
.env.local
.vscode/

# terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
*.tfvars
*.tfvars.json
*.tfplan
.terraform.lock.hcl